@import url("reset.css");
/* @import url(../node_modules/intl-tel-input/build/css/intlTelInput.css); */
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700);

:root {
  --dark-color: #121127;
  --light-color: #ffffff;
  --blue-color: #444bd3;
  --light-blue-color: #5b61d1;
  --red-color: #d15b5b;
  --light-red-color: #db8d8d;
  --grey-color: #e0e3eb;
}

/* * {
  border: solid 1px black;
} */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--dark-color);
  background: var(--light-color);
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* ============ HEADER ============= */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--light-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  column-gap: 40px;
  min-height: 104px;
  padding: 0 8%;
}

.header__menu {
  flex: 1 1 auto;
}

.menu {
  display: flex;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 3px;
  justify-content: flex-end;
}

.menu__link {
  color: var(--dark-color);
  opacity: 72%;
}

.menu__link:hover {
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
  gap: 8px;
}

.auth-buttons__button {
  padding: 10px 24px;
  border-radius: 6px;
}

.signup-button {
  background-color: var(--blue-color);
  color: var(--light-color);
  transition: all 0.3s ease;
}

.signup-button:hover {
  background-color: var(--light-blue-color);
}

.burger-menu {
  display: none;
}

.header__logo,
.auth-buttons {
  position: relative;
  z-index: 3;
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

@media (max-width: 1023.98px) {
  .header__container {
    padding: 0 10px;
  }

  .menu__list {
    column-gap: 30px;
  }
}

@media (max-width: 767.98px) {
  .header__container,
  .menu__list {
    column-gap: 15px;
  }

  .burger-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 3;
  }

  .burger-menu span,
  .burger-menu::before,
  .burger-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--dark-color);
    transition: all 0.3s ease 0s;
  }

  .burger-menu::before {
    top: 0;
  }

  .burger-menu::after {
    bottom: 0;
  }

  .burger-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .burger-menu span {
    width: 0;
  }

  .menu-open .burger-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  .menu-open .burger-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: var(--light-color);
    z-index: 2;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .menu__link {
    font-size: 32px;
  }

  .header__container {
    min-height: 70px;
  }
}

@media (max-width: 424.98px) {
  .header__container {
    padding: 0px 5px;
    column-gap: 5px;
  }
  .auth-buttons__button {
    padding: 10px 15px;
    border-radius: 6px;
  }
}

/* ========================================= */

/* ============= VIDEO SECTION ============= */

.video {
  padding-top: 192px;
  padding-bottom: 163px;
}

.video__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.video__text {
  text-align: center;
}

.video__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.video__subtitle {
  font-size: 20px;
  line-height: 1.8;
}

.video__block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.video__video {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 744px;
  width: 85%;
  aspect-ratio: 1.78 / 1;
  background: url(../assets/video/video.png) 0 50% / cover no-repeat;
  border-radius: 16px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.video__play-block {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background-color: var(--light-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.video__play-block:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.video__icon-1 {
  position: absolute;
  left: 3%;
  top: 3%;
}

.video__icon-2 {
  position: absolute;
  left: 80%;
  top: 13%;
}

.video__icon-3 {
  position: absolute;
  left: 12%;
  top: 90%;
}

.video__image-1 {
  z-index: 1;
  position: absolute;
  left: 14%;
  top: -12%;
  max-width: 173px;
  box-shadow: 0px 40px 80px -16px rgba(0, 0, 0, 0.08);
}

.video__image-2 {
  z-index: 3;
  position: absolute;
  right: 9%;
  top: 75%;
  max-width: 260px;
}

@media (max-width: 1439.98px) {
  .video__image-1 {
    left: 9%;
  }

  .video__icon-3 {
    position: absolute;
    left: 0%;
    top: 80%;
  }
}

@media (max-width: 1023.98px) {
  .video {
    padding-top: 150px;
  }

  .video__text {
    position: relative;
    z-index: 2;
  }

  .video__title {
    font-size: 50px;
  }

  .video__icon-3 {
    display: none;
  }

  .video__image-1 {
    left: 0%;
  }

  .video__image-2 {
    right: 0%;
    top: 85%;
  }
}

@media (max-width: 767.98px) {
  .video {
    padding-top: 110px;
  }

  .video__container {
    gap: 50px;
  }

  .video__title {
    font-size: 35px;
  }

  .video__subtitle {
    font-size: 14px;
  }

  .video__video {
    width: 90%;
  }

  .video__play-block {
    width: 50px;
    height: 50px;
  }

  .video__icon-2 {
    left: 70%;
  }

  .video__image-1 {
    max-width: 140px;
    top: -45px;
  }

  .video__image-2 {
    max-width: 190px;
  }
}

/* ============================================ */

/* ============= FEATURES SECTION ============= */

.features {
  padding: 96px 0;
}

.features__container {
  display: flex;
  gap: 10%;
  padding: 0 8%;
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  max-width: 456px;
}

.features__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

.features__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  opacity: 56%;
}

.features__button {
  background-color: var(--blue-color);
  color: var(--light-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 32px;
  transition: all 0.3s ease;
}

.features__button:hover {
  background-color: var(--light-blue-color);
  gap: 24px;
}

.features__button::after {
  content: url(../assets/features/longarrow-right.svg);
  height: 20px;
}

.features__images-block {
  position: relative;
  flex: 0 0 50%;
  display: flex;
}

.features__image-1 {
  margin: 0 auto;
  z-index: 2;
  box-shadow: 35.5937px 64.06867px 85.4249px 0px rgba(157, 149, 140, 0.2),
    22.24607px 35.5937px 133.47639px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
}

.features__image-2 {
  position: absolute;
  width: 196px;
  left: 4%;
  top: 32%;
  z-index: 3;
  border-radius: 12px;
  box-shadow: 0px 34px 38px 0px rgba(0, 0, 0, 0.08);
}

.features__image-3 {
  position: absolute;
  width: 109px;
  right: 7%;
  top: 51%;
  border-radius: 12px;
}

.features__dark-circle {
  width: 16px;
  height: 16px;
  background-color: #4c4b63;
  border-radius: 50%;
  position: absolute;
  right: 11%;
  top: 20%;
}

.features__light-circle {
  width: 40px;
  height: 40px;
  background-color: #94c5ff;
  border-radius: 50%;
  position: absolute;
  left: 11%;
  top: 77%;
}

@media (max-width: 1023.98px) {
  .features__container {
    padding: 0 10px;
    gap: 0;
  }

  .features__heading {
    font-size: 30px;
  }

  .features__text {
    font-size: 16px;
  }

  .features__image-3 {
    right: 0%;
  }

  .features__image-2 {
    left: 0%;
  }

  .features__light-circle {
    left: 5%;
  }

  .features__dark-circle {
    right: 5%;
  }
}

@media (max-width: 767.98px) {
  .features {
    padding: 40px 0;
  }
  .features__container {
    padding: 0 10px;
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }

  .features__images-block {
    width: 100%;
    max-width: 450px;
  }
}

/* ============================================== */

/* ============= NEWSLETTER SECTION ============= */

.newsletter {
  background-color: var(--blue-color);
  padding: 96px 0;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 0 8%;
}

.newsletter__text {
  text-align: center;
  max-width: 575px;
  color: var(--light-color);
}

.newsletter__heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 12px;
}

.newsletter__subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  opacity: 56%;
}

.newsletter__form {
  width: 100%;
  max-width: 416px;
  background-color: var(--light-color);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.newsletter__inputs {
  margin-bottom: 16px;
}

.newsletter__input {
  border-radius: 8px;
  border: 1px solid var(--grey-color);
  width: 100%;
  padding: 15px 0 10px 21px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
}

#phone {
  padding-left: 100px;
}

.newsletter__input::placeholder {
  color: var(--dark-color);
}

.newsletter__input:focus {
  outline: none;
}

.newsletter__checkbox-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.newsletter__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.newsletter__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--grey-color);
  border-radius: 3px;
  overflow: hidden;
}

.newsletter__checkbox-container:hover
  .newsletter__checkbox
  ~ .newsletter__checkmark {
  background-color: #ccc;
}

.newsletter__checkmark:after {
  content: url(../assets/newsletter/checked-checkbox.svg);
  background-repeat: no-repeat;
  position: absolute;
  display: none;
}

.newsletter__checkbox-container
  .newsletter__checkbox:checked
  ~ .newsletter__checkmark:after {
  display: block;
}

.newsletter__button {
  color: var(--light-color);
  background-color: var(--blue-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 16px 0;
}

.invalid {
  background-color: var(--light-red-color);
  border: 2px solid var(--light-red-color);
}

.error-message {
  color: var(--light-red-color);
  font-size: 12px;
  display: none;
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .newsletter {
    padding: 40px 0;
  }
  .newsletter__container {
    gap: 32px;
    padding: 0 10px;
  }

  .newsletter__checkbox-container {
    margin-bottom: 20px;
  }
}

/* ============================================ */

/* ============= INT TEL INPUT ============= */

.iti {
  width: 100%;
}

.iti__selected-flag {
  width: 80px;
  justify-content: center;
  padding-left: 18px !important;
}

.iti__selected-flag::after {
  content: " ";
  position: absolute;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--grey-color);
}

.iti__flag {
  background-image: url("../node_modules/intl-tel-input/build/img/flags.png");
  width: 100%;
}

.iti__arrow {
  margin-left: 8px !important;
  width: 21px !important;
  height: 21px !important;
  border: none !important;
  background: url(../assets/newsletter/ri_arrow-up-s-line.svg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../node_modules/intl-tel-input/build/img/flags@2x.png");
  }
}

/* ============================================ */
