@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600);

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Poppins";
  font-weight: 300;
  color: #121127;
  background: #ffffff;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0px 15px;
}

/* ============ HEADER ============= */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  column-gap: 40px;
  min-height: 104px;
  max-width: 1158px;
}

.header__menu {
  flex: 1 1 auto;
}

.menu {
  display: flex;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 3px;
  justify-content: flex-end;
}

.menu__link {
  color: #121127;
  opacity: 72%;
}

.menu__link:hover {
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
  gap: 8px;
}

.auth-buttons__button {
  padding: 10px 24px;
  border-radius: 6px;
}

.signup-button {
  background-color: #444bd3;
  color: #ffffff;
  transition: all 0.3s ease;
}

.signup-button:hover {
  background-color: #5b61d1;
}

.burger-menu {
  display: none;
}

.header__logo,
.auth-buttons {
  position: relative;
  z-index: 3;
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

@media (max-width: 1023.98px) {
  .menu__list {
    column-gap: 30px;
  }
}

@media (max-width: 767.98px) {
  .header__container,
  .menu__list {
    column-gap: 15px;
  }

  .burger-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 3;
  }

  .burger-menu span,
  .burger-menu::before,
  .burger-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #121127;
    transition: all 0.3s ease 0s;
  }

  .burger-menu::before {
    top: 0;
  }

  .burger-menu::after {
    bottom: 0;
  }

  .burger-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .burger-menu span {
    width: 0;
  }

  .menu-open .burger-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  .menu-open .burger-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #ffffff;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .menu__link {
    font-size: 32px;
  }

  .header__container {
    min-height: 70px;
  }
}

@media (max-width: 424.98px) {
  .header__container {
    padding: 0px 5px;
    column-gap: 5px;
  }
  .auth-buttons__button {
    padding: 10px 15px;
    border-radius: 6px;
  }
}

/* ========================================= */

/* ============= VIDEO SECTION ============= */

.video {
  padding-top: 192px;
  padding-bottom: 163px;
}

.video__container {
  position: relative;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.video__text {
  text-align: center;
}

.video__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.video__subtitle {
  font-size: 20px;
  line-height: 1.8;
}

.video__block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.video__video {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 744px;
  width: 85%;
  aspect-ratio: 1.78 / 1;
  background: url(../assets/video.png) 0 50% / cover no-repeat;
  border-radius: 16px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.video__play-block {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.video__play-block:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.icon-1 {
  position: absolute;
  left: 3%;
  top: 3%;
}

.icon-2 {
  position: absolute;
  left: 73%;
  top: 27%;
}

.icon-3 {
  position: absolute;
  left: 12%;
  top: 90%;
}

.image-1 {
  z-index: 1;
  position: absolute;
  left: 15%;
  top: -15%;
  max-width: 173px;
  box-shadow: 0px 40px 80px -16px rgba(0, 0, 0, 0.08);
}

.image-2 {
  z-index: 3;
  position: absolute;
  right: 10%;
  top: 85%;
  max-width: 260px;
}

@media (max-width: 1439.98px) {
  .image-1 {
    left: 9%;
  }

  .icon-3 {
    position: absolute;
    left: 0%;
    top: 80%;
  }
}

@media (max-width: 1023.98px) {
  .video {
    padding-top: 150px;
  }

  .video__text {
    position: relative;
    z-index: 2;
  }

  .video__title {
    font-size: 50px;
  }

  .icon-3 {
    display: none;
  }

  .image-1 {
    left: 0%;
  }

  .image-2 {
    right: 0%;
    top: 85%;
  }
}

@media (max-width: 767.98px) {
  .video {
    padding-top: 110px;
  }

  .video__container {
    gap: 50px;
  }

  .video__title {
    font-size: 35px;
  }

  .video__subtitle {
    font-size: 14px;
  }

  .video__video {
    width: 90%;
  }

  .video__play-block {
    width: 50px;
    height: 50px;
  }

  .image-1 {
    max-width: 140px;
    top: -45px;
  }

  .image-2 {
    max-width: 190px;
  }
}
